$vensa-theme-calendar-container__bg-color: #177D91 !default;
$vensa-theme-calendar-container__bg-color_override: transparent !default;
$vensa-theme-calendar-container__width: 100% !default;
$vensa-theme-calendar-container__max-width: 500px !default;
$vensa-theme-calendar-container__font-family: 'Roboto' !default;
$vensa-theme-calendar-container__font-size: 1.3rem !default;
$vensa-theme-calendar-container__font-color: #8BBCC6 !default;
$vensa-theme-calendar-container__font-weight: lighter !default;
$vensa-theme-calendar-selected-day__font-color: white !default;
$vensa-theme-calendar-selected-day__bg-color: #0E6171 !default;
$vensa-theme-calendar-selected-day__div-size: 3rem !default;
$react-datepicker__day-width: 13% !default;
$vensa-theme-minicalendar-container__bg-color: #2CAACA !default;
$vensa-theme-minicalendar-container__font-weight: lighter !default;
$vensa-theme-minicalendar-day__width: 17% !default;
$vensa-theme-minicalendar-day__div-size: 4rem !default;
